$baby-blue: #9CB4D8;
$faded-blue: #ECF0F5;
$dark-faded-blue: #ADB9D3;
$facebook-blue: #3B5998;
$light-facebook-blue: #4267B2;
$muted-facebook-blue: #4E69A2;
$dark-blue: #133783;
$muted-dark-blue: #29487D;
$navy-blue: #1D2A5B;

$red: red;
$error-background-red: #BD4B49;

$gray: gray; 
$white: white;
$light-black: #444;
$text-gray: #666;
$medium-gray: #999;
$smoke-gray: #ddd;
$faded-gray-hover: #F5F5F5;
$dark-faded-gray: #eee;

$bright-green: #42b72a;
$hover-green: #35A420;
