@font-face {
  font-family: 'Freight Sans Medium';
  src: font-url('freight_sans_medium.woff') format('woff')
}
@font-face {
  font-family: 'Freight Sans Bold';
  src: font-url('freight_sans_bold.woff') format('woff')
}

$header: 'Freight Sans Bold';
$sans-serif: -apple-system, BlinkMacSystemFont,
  'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
