@import 'base/fonts.scss';
@import 'base/colors.scss';

body {
  font-family: $sans-serif;
  font-size: 12px;
}

main {
  min-width: 980px;
  padding: 20px 0;
  background: $faded-blue;
}

a {
  color: $facebook-blue;
}


select {
  outline: none !important;
  -webkit-appearance: menulist;
  -webkit-rtl-ordering: logical;
}

ul {
  display: flex;
  align-items: center;
}

::placeholder {
  color: $medium-gray;
}

.main-content {
  width: 980px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-vert {
  display: flex;
  flex-direction: column;
}

.homepage, .user-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-homepage {
  margin-top: 45px;
}

.home {
  height: 25px;
  width: 25px;
}

.nav-bar-container, .user-nav-bar-container  {
  min-width: 980px;
  background-color: $facebook-blue;
  border-bottom: 1px solid $dark-blue;
  color: white;
}

.nav-bar, .user-nav-bar {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: auto;
}

.nav-bar {
  padding-top: 10px;
  display: flex;
}

.nav-bar-container {
  height: 82px;
  background-image: linear-gradient($muted-facebook-blue, $facebook-blue 50%);
}

.user-nav-bar-container {
  position: fixed;
  width: 100%;
  z-index: 3;
  align-items: center;
  padding: 5px;
  background: $light-facebook-blue;
}

.user-nav-bar {
  width: 9
}

.bold {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
}

.error {
  color: $red;
}

.hidden {
  display: none;
}
