@import 'base/colors.scss';

.about-container {
  background: $white;
  border-radius: 3px;
  border: 1px solid $smoke-gray;
  margin: 10px 0 ;
  padding: 10px;


  .icon {
    background: $facebook-blue;
    border-radius: 50%;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    i {
      color: $white;
    }
  }
}

.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; 

  > div {
    display: flex;
    align-items: center;
    font-size: 16px;
  }


  a {
    color: $facebook-blue;

    &:hover {
      text-decoration: underline;
    }
  }

}

.about { 
  font-size: 14px; 
  margin: 5px; 
  display: grid; 
  padding: 0 25px 0 25px; 
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: repeat(2, 1fr); 

  > div {
    padding: 5px;
  }

  .about-label {
    color: $gray;  
  }
}