@import 'base/colors.scss';

.comment-index {
  width: 100%; 
}

.comment-index > * {
  color: black;
}

.comment-index ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-content {
  width: inherit; 
  display: grid; 
  grid-template-rows: 90% 1fr;
  grid-template-columns: 35px 1fr; 
  margin-top: 5px; 
}

.child-comments { 
  padding: 5px  0 0 10px; 
  width: 100%; 
}

.comment-body {
  border-radius: 15px;
  background: $comment-background;
  padding: 10px;
  margin-right: 5px; 
  border: 1px solid $smoke-gray;
  a {
    font-weight: bold;
  }
}

.comment  {
  display: flex;
  align-items: center;
  margin: 5px 0 0 0;
  width: 100%; 

}

.comment-and-options {
  display: flex; 
  align-items: center; 
}

.comment-profile-icon {
  align-self: flex-start; 
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 5px; 
}

.comment-links {
  grid-column-start: 2; 
  display: flex;
  align-items: center; 
  margin-top: 3px;

  > * {
    margin-right: 5px; 
  }
  button {
    color: $facebook-blue;
    &:hover {
      text-decoration: underline;
    }
  }
  div {
    color: $text-gray;
  }
}

.comment { 
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
  width: 100%; 

  textarea {
    width: 100%; 
  }
}


.comment-menu-btn .fas {
  color: white;

  &:hover {
    color: $text-gray;
  }
}


.create-comment {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin-top: 5px; 

  & > div:last-of-type {
    width: 93%;
  }

  form {

    display: flex;
    align-items: center;
    width: 100%; 
    div {
      width: 100%; 

    }

    textarea {
      overflow: hidden; 
      padding: 7px 15px 5px 15px;
      font-size: 14px;
      height: 35px; 
      border: 1px solid $smoke-gray;
      color: $text-gray;
      background: $comment-background;
      border-radius: 20px;
      width: 98%;
    }
  }
}

.prev-comments {
  width: 100%;
  display: flex;
  justify-content: space-between;

  div:first-of-type {
    color: $facebook-blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-menu {
  width: 150px;
  padding: 10px 0px;
  top: 5px; 
  right: -15px; 
  
  ul {    
    li:hover {
      background-color: $light-facebook-blue;
      color: white;
    }
  }

  a, button {
    padding: 0 10px;
    color: inherit;
  }
}

.edit-comment { 
  width: 100%; 

  form {

    display: flex;
    align-items: center;
    width: 100%; 
    div {
      width: 100%; 

    }

    textarea {
      overflow: hidden; 
      padding: 7px 15px 5px 15px;
      font-size: 14px;
      height: 35px; 
      border: 1px solid $smoke-gray;
      color: $text-gray;
      background: $comment-background;
      border-radius: 20px;
      width: 98%;
    }
  }
}