@import 'base/colors.scss';

.comment-index > * {
  color: black;
}

.comment-index ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > div { 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 

    > div {
      width: 100%; 
    }
  }
}


.comment-body {
  border-radius: 15px;
  background: $comment-background;
  padding: 10px;
  border: 1px solid $smoke-gray;
  a {
    font-weight: bold;
  }

}

.comment  {
  display: flex;
  align-items: center;
  margin: 5px 0;
  width: 100%; 

  & > div:first-child {
    align-self: flex-start;
    padding-top: 2px;
  }

  & > div {
    & > div {
      display: flex;
      align-items: center;
      & > * {
        margin: 0 5px;
      }
    }
  }

  .comment-right { 
    width: 100%; 

    > div:last-of-type {
      padding-top: 5px;
    }

    textarea { 
      width: 100%; 
    }
    
  }

  .comment-menu-btn {

    i {
      color: white;
    }

    &:hover {
      i{
        color: $text-gray;
      }
    }
  }
}

.comment-profile-icon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.comment-links {
  display: flex;
  margin-top: 3px;

  button {
    color: $facebook-blue;
    &:hover {
      text-decoration: underline;
    }
  }
  div {
    color: $text-gray;
  }
}


.create-comment-container { 
  width: 100%; 

  .hidden {
    display: none; 
  }
}

.create-comment {
  display: flex;
  justify-content: space-between;
  width: 100%; 

  & > div:last-of-type {
    width: 93%;
  }

  form {

    display: flex;
    align-items: center;
    width: 100%; 
    div {
      width: 100%; 

    }

    textarea {
      overflow: hidden; 
      padding: 7px 15px 5px 15px;
      font-size: 14px;
      height: 35px; 
      border: 1px solid $smoke-gray;
      color: $text-gray;
      background: $comment-background;
      border-radius: 20px;
      width: 98%;
    }
  }
}

.prev-comments {
  width: 100%;
  display: flex;
  justify-content: space-between;

  div:first-of-type {
    color: $facebook-blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}