@import 'base/colors.scss';

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 570px;

  > * {
    margin: 10px 0;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  img {
    width: 250px;
  }

  a {
    color: $facebook-blue;
    text-decoration: {
      text-decoration: underline;
    }
  }
}
