@import 'base/fonts.scss';
@import 'base/colors.scss';

.footer-content {
  margin: auto;
  color: $facebook-blue;

  &:last-child {
    padding-top: 5px;
    color: gray;
  }
}

footer {

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 30px 0px;
  }

  ul:first-of-type {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
  }

  li {
    padding-bottom: 5px;
    padding-right: 22px;
  }

  a:hover {
    text-decoration: underline;
  }
}
