@import 'base/fonts.scss';
@import 'base/colors.scss';

.logo {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 38px;
  height: 60px;

  h1 {
    position: relative;
    top: 10px;
    vertical-align: bottom;
  }
}

.logo:hover {
  text-decoration: none;
}

.header-btn {
  background: $light-facebook-blue;
  border: 1px solid $muted-dark-blue;
  font-size: 12px;
  color: white;
  text-align: center;
  width: 50px;
  padding: 0 3px;
  height: 23px;
}

.header-btn:hover {
  background: $facebook-blue;
}

.header-login-form {

  td {
    padding-left: 12px;
  }

  input:not([type="submit"]) {
    border: 1px solid $navy-blue;
    background: white;
    height: 16px;
    width: 142px;
    color: black;
    font-size: 12px;
    padding: 3px;
  }

  input[type="password"] {
    font-size: 16px;
  }

  a, button {
    color: $baby-blue;

    &:hover {
      text-decoration: underline;
    }
  }

}
