@import 'base/colors.scss'; 

.homepage-side-section{
  h1 {
    margin-bottom: 5px; 
  }
  ul {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
    li {
      margin: 5px; 
      padding: 0 5px; 

    }
  }
}

.birthdays { 

  span {
    margin-left: 5px; 
  }

  .user-link { 
    cursor: pointer; 
    font-weight: bold;

    &:hover {
      text-decoration: underline; 
    }
  }
}

.advertisements {
  display: flex; 
  flex-direction: column;  
  align-items: center; 

  li {
    text-align: center; 
  }
  span {
    text-align: center; 
  }
}


.ad-link {
  color: $facebook-blue; 

  &:hover {
    cursor: pointer;
    text-decoration: underline; 
  }
  text-align: center; 
}

.ad-image {
  width: 175px;
}