@import 'base/fonts.scss';
@import 'base/colors.scss';

.intro {

  font-size: 16px;
  margin-bottom: 50px;
  letter-spacing: -.2px;

  img {
    width: 56px;
    height: 56px;
    margin-right: 15px;
  }

  h1 {
    font-family: 'Freight Sans Medium';
    text-rendering: optimizeLegibility;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: .7px;
    margin-bottom: 5px;
    padding: 30px 0 20px 0;
    width: 450px;
    color: $light-black;
  }

  div {
    display: flex;
    align-items: center;
    padding: 13px 0;
  }

  ul {
    justify-content: flex-start;
    li {
      padding-right: 20px;
    }

  }

  p span:first-of-type {
    font-weight: bold;
    color: $light-black;
  }

  p span:last-of-type {
    color: $text-gray;
  }

  a:hover {
    color: $dark-faded-blue;
  }

}
