@import 'base/colors.scss'; 

.post-nav {
  .liked {
    color: #4679DE; 
  }

  .fa-thumbs-up {
    transition-duration: 1s; 
    transition-property: transform; 
  }

  .like-btn-container {

    &:hover .fa-thumbs-up {
      transform: scale(2); 
      -webkit-transform: scale(1.3) rotate(-35deg); 
    }
  }

}