@import 'base/fonts.scss';
@import 'base/colors.scss';

.posts {
  display: flex;
  flex-direction: column;
}

.post-index {

  h1 {
    font-size: 14px;
    color: $light-black;
    font-weight: 500;
    margin: 5px 5px;
    text-align: left;
  }

}

.post, .create-post, .edit-post {
  background: white;
  text-align: left;
  border: 1px solid $smoke-gray;
  border-radius: 3px;
  margin: 5px 0;
  box-sizing: border-box;
}

.edit-post {
  width: 500px; 
}

.post {
  width: 100%;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;

  > div {
    margin: 10px 0;
  }

  i {
    color: $text-gray;
    transform: scale(1.2);
  }
}

.post {

  nav {
    display: flex;
    justify-content: space-around;

    border-top: 1px solid $smoke-gray;
    border-bottom: 1px solid $smoke-gray;
    padding: 3px 0;

    color: $text-gray;
    font-size: 13px;

    div {
      padding: 7px 0;
      width: 33.33%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;

      cursor: pointer;

      &:hover {
        background: $faded-gray-hover;
      }

      > i, img {
        margin-right: 5px;
      }

      img {
        width: 20px;
        height: auto;
        -webkit-filter: grayscale(100%);
      }
    }
  }

}

.post-header {
  display: flex;
  justify-content: space-between;

  .post-author-info {
    display: flex;

    > div {
      padding-left: 5px;
    }

    a {
      color: $facebook-blue;
      font-size: 14px;
      font-weight: 500;
      display: block;
      padding-bottom: 2px;
      // font-family: $sans-serif;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 11px;
    }
  }
}

.post-body {
  margin-top: 5px 0;
  font-size: 16px;
  width: 100%;
  word-wrap: break-word;
  height: auto;
}

.create-post, .edit-post {
  margin-bottom: 10px;
  padding-bottom: 10px;

  nav {
    background-color: #F5F6F7;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 5px;
    font-size: 14px;

    li {
      padding: 5px 0px;
      cursor: pointer;

      div {
        padding: 0 10px;
        border-right: 1px solid #bbbbbb;

        i {
          transform: scale(1.1);
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }

  form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    div {
      display: flex;
      align-items: flex-start;
    }

    textarea {
      height: 50px;
      width: 100%;
      font-size: 16px;
      padding: 5px;

    }

    input[type="submit"] {
      padding: 5px;
      text-align: center;
      color: white;
      font-size: 14px;
      background-color: $light-facebook-blue;
      border-color: $light-facebook-blue;
      border-radius: 3px;
      width: 25%;
      align-self: flex-end;

      &:hover {
        background-color: $facebook-blue;
        border-color: $facebook-blue;
      }
    }
  }

}

.edit-post {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    div {
      font-size: 14px;
      color: #1D2129;
      font-weight: bold;
    }
  }
  i {
    color: gray;
  }
  form textarea {
    height: 150px;
  }
}

.post-profile-icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}


.post-menu {

  position: relative;
  z-index: 11;
  background-color: white;
  font-size: 13px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 150px;
    position: absolute;
    top: 10px;
    left: -133px;

    background: white;
    color: #626871;

    border: 1px solid #bbbbbb;
    box-shadow: 0 0 5px #b2b2b2;
    padding: 10px 0px;


    li {

      width: 100%;
      padding: 5px 0px;
      cursor: pointer;

      &:hover {
        background-color: $light-facebook-blue;
        color: white;
      }

      a, button {
        padding: 0 10px;
        color: inherit;
      }

    }
  }


}
