.post-index {
  h1 {
    font-size: 16px;
    color: #626871;
  }
}

.post, .create-post {
  background: white;
  width: 500px;
  text-align: left;
  border: 1px solid #dddfe2;
}

.post {
  margin: 5px 0px;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;

  i {
    color: #626871;
    transform: scale(1.2);
    cursor: pointer;
  }

  nav {
    justify-content: space-around;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    color: #626871;
    font-size: 13px;

    div {
      padding: 10px 0;
      width: 33.33%;
      text-align: center;
      vertical-align: middle;
      margin: auto;

      &:hover {
        background: #F8F8F8;
      }
    }
  }


}

.post-body {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.create-post {
  margin-bottom: 10px;
  padding-bottom: 10px;

  nav {
    height: 30px;
    background-color: #F5F6F7;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    li {
      padding: 5px 10px;
      width: 100px;
    }

  }

  form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    textarea {
      height: 50px;
      font-size: 16px;
      padding: 5px;
    }

    input[type="submit"] {
      padding: 5px;
      text-align: center;
      color: white;
      font-size: 14px;
      background-color: #4267b2;
      border-color: #4267b2;
      border-radius: 3px;
      width: 50%;
      align-self: flex-end;

      &:hover {
        background-color: #365899;
        border-color: #365899;
      }
    }

  }
}


.post-menu {

  position: relative;
  background-color: white;
  z-index: 1;

  font-size: 13px;

  .hidden {
    display: none;

  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 150px;
    position: absolute;
    top: 20px;
    left: -133px;

    background: white;
    color: #626871;

    border: 1px solid #bbbbbb;
    box-shadow: 0 0 5px #b2b2b2;
    padding: 10px 0px;


    li {

      width: 100%;
      padding: 5px 0px;

      &:hover {
        background-color: #4267B2;
        color: white;
      }

      a, button {
        padding: 0 10px;
        color: inherit;
      }

    }
  }

}
