@import 'base/fonts.scss';
@import 'base/colors.scss';

.profile-header {
  width: 865px;
  position: relative;
  margin: 0;
}

.cover-photo {
  height: 315px;
  position: relative;
  opacity: 1;
}

.cover-photo::before {
  content: ""; 
  background-image: image-url('pusheen_background'); 
  opacity: .5;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
}

.profile-nav {
  border: 1px solid $smoke-gray;
  background-color: $white;
  font-size: 14px;
  font-weight: 600;

  ul {
    padding-left: 220px;
  }

  li {
    padding: 15px 20px;
    border-right: 1px solid $dark-faded-gray;

    &:hover {
      cursor: pointer;
      background-color: $faded-gray-hover;
    }
  }

  li:first-of-type {
    border-left: 1px solid $dark-faded-gray;
  }
}

.profile {


  > * {
    margin: 10px;
  }
}

.profile-info {
  position: absolute;
  bottom: 10px;
  left: 220px;

  h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #1c0800;
    text-shadow: 2px 2px 2px #F7EEE7; 
    // -webkit-text-stroke-color: black;  
    // -webkit-text-stroke-width: 1px; 
    // --switch: calc((var(--light) - var(--threshold)) * -100%);
    // color: hsl(0, 0%, var(--switch));
    // color: #5C422A; 
    opacity: 1;
    z-index: 2;
  }


  > * {
    margin: 5px 0;
  }
}

.profile-photo {
  background-color: $text-gray;
  padding: 5px;

  position: absolute;
  bottom: 20px;
  left: 20px;
  img {
    width: 160px;
    height: 160px;
  }
}

.profile-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 865px;

  aside {
    width: 350px;
    margin: 0;
  }

  section {
    width: 500px;
    margin: 0;
  }

}

.add-friend, .pending-approval, .remove-friend, .accept-friend {
  position: absolute;
  bottom: 15px;
  right: 15px;

  .fa-user {
    transform: scaleX(.9) scaleY(1.1);
  }
  .fa-plus {
    transform: scale(.7) translate(-3px, -3px);
  }

  button {
    padding: 7px 7px;
    min-width: 130px;
    font-weight: bold;
    text-align: center;
    border: 1px solid $text-gray;

    background: $faded-gray-hover;

    &:hover {
      background: $comment-background;
    }

  }
}
