@import 'base/fonts.scss';
@import 'base/colors.scss';

.left-nav-bar {
  display: flex;
  align-items: center;
  width: 60%;

  form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  input {
    border: 1px solid $facebook-blue;
    border-radius: 3px;
    background: white;
    color: black;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
  }

}

.search-bar {
  padding-left: 10px;
  width: 100%;

  button {
    background: $faded-gray-hover;
    vertical-align: middle;
    height: 25px;
    padding: 0 15px;
    position: relative;
    right: 42px;
    border-radius: 0 3px 3px 0;

    &:hover {
      background: $dark-faded-gray;
    }

    i {
      color: $text-gray;
    }
  }
}

.nav-links > div {
  border-right: 1px solid $facebook-blue;
  height: 25px;
  border-radius: 3px;
}

.nav-link {
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0px 3px;
  position: relative;
  top: 5px;
}

.nav-link:hover {
  text-decoration: none;
  background: $facebook-blue;
}


.nav-icon {
  color: $navy-blue;
  transform: scale(1.75);
}

[tabIndex="1"]:focus {
  color: white;
}

.fa-caret-down {
  transform: scale(1.5);
}

header .nav-icons {
  margin: 0px 5px;
}

header .nav-icons i {
  padding-left: 10px;
  padding-right: 10px;
}
