.signup-form-container {
  width: 400px;

  h1, h2 {
    font-family: 'Freight Sans Medium';
    text-rendering: optimizeLegibility;
  }

  h1 {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: .8px;
    margin-bottom: 5px;
    color: #222;
  }

  h2 {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -.5px;
    margin-bottom: 20px;
    color: #444;
  }

}

.birthday {

  div {
    display: flex;
    flex-direction: row;
  }

  a {
    margin-left: 10px;
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 18px;
    color: #444;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.signup-form {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  line-height: 1.34;
  padding-bottom: 20px;

  input {
    background-color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .full-name {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      width: 195px;
    }
  }

  .field-set {
    display: flex;
    vertical-align: middle;
    position: relative;
  }

  .help-message {
    position: absolute;
    background: #BD4B49;
    color: white;
    font-size: 13px;
    padding: 15px;
    margin: 0;
    top: -3px;
    left: -150px;
    box-shadow: 0px 0px 5px gray;
    border-radius: 3px;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: -5px;
      top: 12px;
      border: 10px solid;
      transform: rotate(135deg);
      border-color: #BD4B49 transparent transparent #BD4B49;
      z-index: 2;
    }
  }

  .last-name {
    .help-message {
      top: 47px;
      left: 0;

      &:before {
        top: -3px;
        transform: rotate(45deg);
        right: 60px;
      }
    }
  }

  .email, .password {
    .help-message{
       left: -325px;
       width: 315px;
       padding-right: 30px;
       box-sizing: border-box;
    }
  }

  .invalid {
    border-color: red;
  }

  .hidden {
    display: none;
  }

  i {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: scale(1.3);
    color: #BD4B49;
  }

  label {
    padding-left: 5px;
  }

  select {
    font-size: 13px;
    padding: 5px;
    height: 30px;
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;
    width: 65px;
  }

  div {
   margin: 5px 0;
  }

  p {
    font-size: 12px;
    margin: 10px 0;
    color: gray;
    width: 80%;
  }


  .gender {
    margin-top: 10px;

    input {
      width: 20px;
      height: 30px;
      margin-left: 5px;
    }

    label {
      padding-right: 10px;
    }
  }

}

.signup-btn {
  -webkit-appearance: button;
  box-sizing: border-box;
  min-width: 190px;
  padding: 7px 20px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  line-height: 126%;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    background: linear-gradient(#76B861, #578843);
  }
}
