#intro img {
  width: 56px;
  height: 56px;
  margin-right: 15px;
}

#intro > h1 {
  padding: 30px 0 20px 0;
  width: 450px;
  color: #333;
}

#intro > div {
  display: flex;
  align-items: center;
  padding: 13px 0;
}

#intro span {
  color: #666;
}

#intro {
  font-size: 16px;
  margin-bottom: 50px;
  letter-spacing: -.5px;
}
