.left-nav-bar {
  display: flex;
  align-items: center;
  width: 60%;
}

.search-bar {
  padding-left: 10px;
  width: 100%;
}

.left-nav-bar form {
  width: 100%;
}

.left-nav-bar input {
  border: 1px solid #3b5998;
  border-radius: 3px;
  background: white;
  color: black;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
}

#search-btn {
  background: #f5f6f7;
  vertical-align: middle;
  height: 24px;
  padding: 0 15px;
  position: relative;
  right: 42px;
  border-radius: 3px;
}

#search-btn:hover {
  /* background:#4080ff; */
  background:#ebedf0;
}

#search-btn i {
  color: #4b4f56;
}

.nav-links > div {
  border-right: 1px solid #3B5CA0;
  height: 25px;
  border-radius: 3px;
}

.nav-link {
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0px 3px;
  position: relative;
  top: 5px;
}

.nav-link:hover {
  text-decoration: none;
  background: #3B5CA0
}


.nav-icon {
  color: #0E1524;
  transform: scale(1.75);
  cursor: pointer;
}

[tabIndex="1"]:focus {
  color: white;
}

.fa-caret-down {
  transform: scale(1.5);
}

header .nav-icons {
  margin: 0px 5px;
}

header .nav-icons i {
  padding-left: 10px;
  padding-right: 10px;
}
