body {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  background: #ECF0F5;
}

main {
  overflow: auto;
  padding: 20px 0;
}

a {
  color: #365899;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}


select {
  outline: none !important;
  -webkit-appearance: menulist;
  -webkit-rtl-ordering: logical;
}

ul {
  display: flex;
  align-items: center;
}

.main-content {
  width: 980px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-container, .user-nav-bar-container  {
  background-color: #3B5998;
  border-bottom: 1px solid #133783;
  color: white;
}

.nav-bar, .user-nav-bar {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: auto;
}

.nav-bar {
  padding-top: 10px;
  align-items: flex-end;
}

.nav-bar-container {
  height: 82px;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
}

.user-nav-bar-container {
  height: 42px;
  align-items: center;
  padding: 7px;
  box-sizing: border-box;
  background: #4267B2;
}

.logo {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 8px;
}

.logo:hover {
  text-decoration: none;
}

.logo:focus {
  background: none;
}

.login-form td {
  padding-left: 12px;
}

.login-form input:not([type="submit"]) {
  border: 1px solid #1d2a5b;
  background: white;
  height: 18px;
  width: 142px;
  color: black;
  font-size: 12px;
  padding: 3px;
}

.login-form input[type="password"] {
  font-size: 16px;
}

.header-btn {
  background: #4267b2;
  border: 1px solid #29487d;
  font-size: 12px;
  color: white;
  text-align: center;
  width: 50px;
  padding: 0 3px;
  height: 23px; 
}

.header-btn:hover {
  background:  #3B5998;
}

.forgot-account {
  color: #9cb4d8;
}

.h1 {
  font-family: 'Freight Sans Medium';
  text-rendering: optimizeLegibility;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: .7px;
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;

}

.f12 {
  font-size: 12px;
}

.invalid {
  border-color: red;
}

footer {
  background: white;
}

#footer-content {
  width: 980px;
  margin: auto;
  margin-top: 30px;
  height: 150px;
  color: #365899;
}

footer ul {
  display: flex;
  padding: 10px 0px 30px 0px;
}

footer li {
  padding-right: 15px;
}

footer ul:first-of-type {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

footer:last-child {
  padding-top: 5px;
  color: gray;
}

header {
  vertical-align: middle;
}

#intro ul {
  justify-content: flex-start;
}

#intro li {
  padding-right: 20px;
}

#intro a {
  text-decoration: none;
}

#intro a:hover {
  color: #ADB9D3;
}

.center {
  display: flex;
  justify-content: center;
}

#home {
  height: 25px;
  width: 25px;
}
